body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #00feba, #5b548a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.checkweather {
    text-align: center;
    width: 420px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
}

.search-bar input:focus {
    box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.5);
}

.search-bar button {
    padding: 10px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #007AFF;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.search-bar button:focus {
    box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.5);
}

.weather-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 80px;
    padding: 80px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.temperature {
    font-size: 48px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.details {
    font-size: 18px;
}

.round-button {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    border: none;
    background-color: #007AFF;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-left: 50px;
}
.logout-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #007BFF; /* Bootstrap blue for example */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

